<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <style>
        /* Centrar vertical y horizontalmente */
        body, html {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
    <title>Login</title>
</head>
<body class="is-flex">
    <div class="container" style="width:400px;">
        <div class="box">
            <h1 class="title">Login</h1>
            <form id="loginForm">
                <div class="field">
                    <label class="label" for="username">Username:</label>
                    <div class="control">
                        <input class="input" type="text" id="username" name="username" required>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="password">Password:</label>
                    <div class="control">
                        <input class="input" type="password" id="password" name="password" required>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary is-fullwidth mb-2" type="submit">Login</button>
                    </div>
                </div>
            </form>
            <div class="content">
                <p>¿No tienes una cuenta? <a href="signup.html">Regístrate</a></p>
            </div>
            <div><p id="message" class="text-error"></p></div>
        </div>
    </div>
    
    <script src="/scripts/login.js"></script>
</body>
</html>