<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <style>
        /* Añade estilos personalizados aquí si es necesario */
        .column {
          flex: 1;
        }
    
        .message-container {
          overflow-y: scroll;
        }
      </style>
</head>

<body>
    <div class="container is-fluid" style="padding-left: 0px; padding-right: 0px; height: 100vh;">
        <div class="is-flex" style="height: 100vh;">
            <!-- Columna de servidores -->
            <nav class="column is-flex-grow-0" style="background-color: gray; width: 72px;">
                <ul>
                    <li class="mb-2">
                        <a href="#" id="createServer" onclick="openModal('newServerModal')">
                            <i class="fa-solid fa-circle-plus is-size-1"></i>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <i class="fa-solid fa-circle-info is-size-1"></i>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <i class="fa-brands fa-gg-circle is-size-1"></i>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <i class="fa-brands fa-gg-circle is-size-1"></i>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <i class="fa-brands fa-gg-circle is-size-1"></i>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <i class="fa-brands fa-gg-circle is-size-1"></i>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <i class="fa-brands fa-gg-circle is-size-1"></i>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <i class="fa-brands fa-gg-circle is-size-1"></i>
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="#">
                            <i class="fa-solid fa-circle-user is-size-1"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="column is-flex" style="background-color: yellow;">
                <!-- Columna de canales -->
                <div class="column is-flex-grow-0" style="background-color: red;">
                    <h2 class="subtitle">#Canales</h2>
                    <ul>
                        <li>Canal 1 - Servidor 1</li>
                        <li>Canal 2 - Servidor 1</li>
                        <li>Canal 3 - Servidor 1</li>
                        <!-- Si no tiene ningún canal creado, muestra un mensaje -->
                        <li>No hay canales en este servidor.</li>
                    </ul>
                    <button class="button is-primary" id="createChannel" onclick="openModal('newChannelModal')">Crear
                        Canal</button>
                </div>

                <!-- Columna de mensajes -->
                <div class="column">
                    <h2 class="subtitle">Mensajes</h2>
                    <div class="is-flex-grow-1">
                        <!-- Lista de mensajes generados dinámicamente -->
                        <div>
                            <strong>Usuario 1:</strong> Hola, ¿cómo están todos?
                        </div>
                        <div>
                            <strong>Usuario 2:</strong> ¡Hola! Estamos bien, gracias.
                        </div>
                        <div>
                            <strong>Usuario 3:</strong> Buenas tardes a todos.
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Escribe un mensaje...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ventana modal para Nuevo Servidor -->
    <div id="newServerModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Nuevo Servidor</p>
                <button class="delete" aria-label="close" onclick="closeModal('newServerModal')"></button>
            </header>
            <section class="modal-card-body">
                <form id="serverForm" enctype="multipart/form-data">
                    <div class="field">
                        <label class="label">Nombre del Servidor:</label>
                        <div class="control">
                            <input class="input" type="text" id="serverName" name="serverName" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Descripción del Servidor:</label>
                        <div class="control">
                            <textarea class="textarea" id="serverDescription" name="serverDescription"
                                required></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Categoría del Servidor:</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select id="serverCategory" name="serverCategory">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Imagen del Servidor:</label>
                        <div class="control">
                            <input class="input" type="file" id="serverImage" name="serverImage" accept="image/*">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Crear Servidor</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>


    <!-- Ventana modal para Nuevo Canal -->
    <div id="newChannelModal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Nuevo Canal</p>
                <button class="delete" aria-label="close" onclick="closeModal('newChannelModal')"></button>
            </header>
            <section class="modal-card-body">
                <form id="serverForm" enctype="multipart/form-data">
                    <div class="field">
                        <label class="label">Nombre del Canal:</label>
                        <div class="control">
                            <input class="input" type="text" id="serverName" name="serverName" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button class="button is-primary" type="submit">Crear Canal</button>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <script src="../scripts/channels.js"></script>
    <script src="../scripts/servers.js"></script>
    <script src="../scripts/main.js"></script>
</body>

</html>