<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="style/default.css">
</head>
<body>
<div class="Contenedor">
  <div class="Caja">
    <h1>Signup</h1>
    <form class="Signup" id="signupForm">
        <label for="username"></label>
        <input type="text" id="username" name="username" placeholder="Nombre_De_Usuario">
        <br>
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="Contraseña">
        <br>
        <label for="email"></label>
        <input type="text" id="email" name="email" placeholder="tucorreo@example.com" required>
        <br>
        <button type="submit">Signup</button>
    </form>
    <a href="login.html">
        <input type="button" value="Cancel">
    </a>
    <div id="message"></div>

    </div>
</div>
    
    <script src="/scripts/signup.js"></script>
</body>
</html>
